.label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  color: var(--mantine-color-gray-6);
  line-height: 1.2;
}

.value {
  font-size: var(--mantine-font-size-sm);
  font-weight: 700;
  color: var(--mantine-color-blue-5);
}